<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Topics</title>
    <meta http-equiv="Content-Type" content="width=device-width, initial-scale=1; text/html; charset=UTF-8"
          name="viewport"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/allTopics.css" th:href="@{/css/allTopics.css}">

</head>
<header th:replace="~{/fragments/nav.html :: topnav}"></header>
<body th:replace="~{/fragments/body.html :: bodyColor(~{ :: .content})}">


    <div class="content list-group list-group-flush text-dark font-monospace" th:each="t : ${topics}">

        <div id="card" class="list-group-item list-group-action rounded mb-2 mx-auto">

            <div class="d-flex justify-content-between">
                <small class="text-justify text-rest" th:inline="text">
                    Posted by
                    <a th:href="@{/users/profile/{id}(id = ${t.author.id})}" class="fst-italic link"> @[[${t.author.name}]] </a>
                </small>
                <small class="badge bg-cyan text-dark fw-bolder text-wrap text-capitalize">the [[${t.date}]]</small>
            </div>
            <a th:href="@{${t.id}}" class="text-reset link fst-italic">
                <h5 class="card-title text-truncate d-flex justify-content-center my-2" th:text="${t.title}"></h5>
            </a>

            <div id="content-box" class="overflow-hidden">
                <p th:text="${t.content}"></p>
            </div>

            <div class="d-flex flex-row">
                <div th:replace="~{/fragments/votes.html :: vote(topic=${t}, pageUrl='/'+${t.id})}"></div>

                <div href="#" class="mt-auto mx-3" >
                    <i class="bi bi-chat-square-dots" style="font-size: 1rem;"></i>
                    <small class="text-muted text-capitalize" th:text="${T(fr.uge.jee.reddit.models.Comment).numberAllComments(t.answers)}"></small>
                </div>

            </div>
        </div>

    </div>

</body>
</html>